/* *{background-color: aqua;} */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #e9e5e5;
}

.header__logo{
    object-fit: contain;
    height:40px ;
}

.header__icon{
    padding: 20px;
}